.App {
  text-align: center;
}

.timer{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.timer_face{
  font-size: 22px;
  font-weight: bold;
  background: lightblue;
  width: 150px;
  height: 60px;
  border-radius: 8px;
  line-height: 60px;
}
